/* La règle CSS !important permet de spécifier que la propriété est la plus importante
dans votre feuille CSS en lui donnant un poids plus important.
Sinon renommer le fichier zzz.css pour que ce soit le dernier pris en compte
*/
.md-typeset h5 {
    text-transform: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight : 550 !important;
}
/* numbering sections
See https://stackoverflow.com/questions/48029165/is-there-a-way-to-make-the-headings-sections-and-subsections-numbering-in-markd
However it numbers only the content and not the TOC, and it numbers also the API references which is not wanted.
Thus, it is numbered manually at the moment.
*/